.grid-container{
    display: grid;
    grid-template-areas: 
    'hd hd hd hd'
    'na na na na' 
    'se se se an' 
    'me me me me';
    column-gap: 30px;
    row-gap: 20px;
}

.grid-header{
    grid-area: hd;
    font-style: italic;
    font-size: 40px;
    text-align: center;
}

.grid-navigation{
    grid-area: na;
}

.grid-section{
    grid-area: se;
    background-color: burlywood;
    border: 2px solid black;
}

.grid-andre{
    grid-area: an;
    background-color: rgb(153, 109, 52);
    border: 2px solid black;
    width: 400px;
    height: 1550px;
}

.grid-andre img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 20%;
  border: 1px solid black;

}

.grid-andre h3{
    position: relative;
    left: 5%;
}

.grid-andre h2{
    text-align: center;
}


.grid-media{
    grid-area: me;
    background-color: rgb(153, 109, 52);
    border: 2px solid black;
}

.grid-navigation a{
    border: 1px solid black;
    width: 33.0506%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background-color: wheat; 
}

.grid-section p, .grid-section h2,.grid-media h2, h4, h5, table, form, ol{
    position: relative;
    left: 5%;
    
}

.grid-section p{
    text-align: left;
    width: 90%;
    font-size: 18px;
}


#Titel span{
    background-color: rgb(153, 109, 52);
}

#navigation{
    background-color: burlywood 
}

#titelHummus{
    text-align: center;
}

#titelHummus span{
    font-size: 40px;
    font-family: Papyrus;
    border-bottom: 1px solid black;
    
}

#introTekst{
    text-align: justify;
    text-justify: inter-word;
}

#portion{
    background-color: burlywood;
}

table, td {
    border: 1px solid black;
    background-color: wheat;
}

table{
    width: 55%;
}

#førsteRækkeOrd{
    font-size: larger;
    text-align: center;
    font-weight: 900;
}

li{
    padding-left: 2%;
    font-size: 18px;
    text-align: left;
    width: 88%;
}

#kalorierIalt{
    font-weight: 900;
    text-align: right;
    background-color: rgb(210, 144, 57);
}

#totalKcal{
    text-align: center;
    font-weight: 900;
    background-color: rgb(210, 144, 57);
}

#h4Right{
    text-align: left
}

#media{
    text-align: center;
}

#grey{
    opacity: 0.5;
    background-color: grey;
}

td{
    text-align: center;
}