body{
 overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "hd hd"
    "na na"
    "ar as"
    "re as"
    "me me";
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: minmax(10px, auto);
  column-gap: 20px;
  row-gap: 20px;
}

.grid-header {
  grid-area: hd;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

.grid-navigation {
  grid-area: na;
  background-color: burlywood;
  display: grid;
  grid-template-areas:
    "na na na";
}



.grid-navigation a {
  border: 1px solid black;
  display: table;
  width: 100%;
  text-align: center;
  background-color: wheat;
}

.grid-article {
  grid-area: ar;
  background-color: burlywood;
  border: 2px solid black;
}


.grid-article p,
.grid-article h2,
h4,
h5,
table,
form,
ol,
ul,
.grid.anmeldelse {
  position: relative;
  left: 5%;
}

.grid-article p {
  text-align: left;
  width: 90%;
  font-size: 18px;
}

.grid-aside {
  grid-area: as;
  background-color: rgb(153, 109, 52);
  border: 2px solid black;
}

.grid-aside img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 20%;
  /*
object-fit:?
  */
  border: 1px solid black;
}

.grid-aside h3 {
  position: relative;
  left: 5%;
}

.grid-aside h2,
td,
#titelPåOpskrift {
  text-align: center;
}

.grid-anmeldelse {
  grid-area: re;
  background-color: burlywood;
  border: 2px solid black;
}

.grid-media {
  grid-area: me;
  background-color: rgb(132, 91, 39);
  border: 2px solid black;
}

.grid-media h2,
#media {
  text-align: center;
}



table,
td {
  border: 1px solid black;
  background-color: wheat;
}

table {
  width: 55%;
}

li {
  padding-left: 2%;
  font-size: 18px;
  text-align: left;
  width: 88%;
}

#Titel span {
  background-color: rgb(153, 109, 52);
}

#navigation{
  display: flex;
  align-items: center;
  justify-content: center;
}

#portion {
  background-color: burlywood;
}

#pers,
#portion {
  font-size: 18px;
}

#titelPåOpskrift span {
  font-size: 40px;
  font-family: Papyrus;
  border-bottom: 1px solid black;
}

#introTekst,
li {
  text-align: justify;
  text-justify: inter-word;
}

#førsteRækkeOrd {
  font-size: larger;
  text-align: center;
  font-weight: bold;
}

#kalorierIalt {
  font-weight: bold;
  text-align: right;
  background-color: rgb(210, 144, 57);
}

#totalKcal {
  text-align: center;
  font-weight: bold;
  background-color: rgb(210, 144, 57);
}

#påDagen, #dagenFør{
  text-decoration: underline;
}

#reviewBoks {
  height: 150px;
  width: 400px;
}

#anmeldelseLabel{
  font-weight: bold;
  font-size: 1.5em;
}

#greyBoks {
  opacity: 0.5;
  background-color: grey;
}

.fremgangSpace:not(:last-child){
  margin-bottom: 20px;
}

